body {
  font-size: calc(18px + ((100vw - 600px) / 250));
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: "auto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
header h1 {
  font-size: 3rem;
  letter-spacing: -0.1rem;
  line-height: 1;
}

header a {
  color: black;
}

header a.h1-a {
  color: black;
  text-decoration: none;
}

header h1 span {
  color: red;
}

header nav {
  display: flex;
  gap: 1rem;
}

main {
  margin: 2rem;
}
main h2 {
  margin-bottom: 1rem;
}

/* forside */

.category_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: 4rem;
}

.category_list a {
  text-decoration: none;
  padding: 3rem;
  color: white;
  background-color: #949394;
  border-radius: 5px;
}

/* ProductList */
img {
  max-width: 100%;
  height: auto;
}
.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 4rem;
}
.productlist article {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 7;
  gap: 0;
}

.productlist main h2 {
  grid-column: 1/-1;
}
.productlist article h3 {
  font-size: 1rem;
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}

.productlist article {
  position: relative;
}

.productlist .discount_badge {
  position: absolute;
  top: 10px;
  left: 10px;
  /* background-color: #ff0000; */
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.productlist .soldOut img {
  opacity: 0.3;
}
.productlist .soldoutTxt {
  color: red;
  display: none;
}
.productlist .soldOut .soldoutTxt {
  display: block;
}
.productlist .discount_element p {
  display: none;
}
.productlist .discounted .discount_element {
  display: flex;
  justify-content: space-between;
}

/* Product */

.breadcrumbs {
  display: none;
}

.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
}
.info {
  padding: 1rem;
}
.product select {
  min-width: 100px;
}
.product main {
  display: grid;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}
.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
dt {
  font-weight: 700;
}
